<a href="https://colab.research.google.com/github/Abigail-Ashley-Cayco/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [2]:
if 5>2:
  print ("5>2")

5>2

Python Comment

In [3]:
#This is a comment
print("Hello World!")

Hello World!

Python Variable

In [6]:
#single value with single variable
x=1
print (x)
#single variable with multiple valaues
array = [1,2,3]
print (array)

#multiple variables with single value
a = b = c = "Abigail"
print(a)
print(b)
print(c)

1
[1, 2, 3]
Abigail
Abigail
Abigail

Casting

In [7]:
n = int(4)
print(n)

4

Type() Function

In [11]:
c = "sally"
d = 5.6

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>