<a href="https://colab.research.google.com/github/Abigail-Ashley-Cayco/OOP-58001/blob/main/List%2C_Tuple%2C_and_Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [2]:
def remainder(n,m):
  while True:
    if n - m<0:
      return n
    else:
      n = n - m

  remainder (10,4)

In [32]:
class Shapes:
 def __init__(self,length,width):
  self.length = length
  self.width = width
 def area(self):
   return self.length * self.width
rectangle = Shapes(10,5)
rectangle.area()

50

In [52]:
class Shapes:
  def __init__(self,side):
    self.side = side
  def arearec(self):
    return self.length * self.width
  def areasqr(self):
    return self.side**2
square = Shapes(5)
square.areasqr()

25

In [44]:
from typing_extensions import AsyncGenerator
#Create your own function that will show your fullname and age
#use person as class name
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
indiv = Person("Abigail Ashley P. Cayco",18)
print(indiv.name,indiv.age)

Abigail Ashley P. Cayco 18

In [26]:
pow(10,2)
array = ["apple","banana","orange"]
array.insert(0,"cherry")
print(array)

['cherry', 'apple', 'banana', 'orange']

List

In [49]:
pi=3.14150
varlist = ['abc', 1,'def',2]
print(varlist[0])

varlist.append('ghi')
print(varlist)
varlist.remove(2)
print(varlist)
varlist.insert(3,3)
print(varlist)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [50]:
students = {
            1:"Ana",
            2:"Billy",
            3:"Maria",
            4:"Joy"
}
print(students)

{1: 'Ana', 2: 'Billy', 3: 'Maria', 4: 'Joy'}