<a href="https://colab.research.google.com/github/Abigail-Ashley-Cayco/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [3]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [14]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    print(x)
    break                 #it only display Thursday

Thursday

In [15]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    print(x)
    break                 #it display Sunday to Thursday

Sunday
Monday
Tuesday
Wednesday
Thursday
Thursday

In [18]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Tuesday":
    print(x)
  if x == "Wednesday":
    print(x)
    break                 #It only displays Tuesday and Wednesday

Tuesday
Wednesday

Looping Through A String

In [19]:
for x in "week":
  print(x)

w
e
e
k

Nested Loops

In [20]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [21]:
i = 1
while i <=6:
  print(i)
  i +=1

1
2
3
4
5
6

The Break Statement

In [42]:
i = 1
while i < 6:
  print(i)
  if i == 3:
   break
  i+=1

1
2
3

In [27]:
i = 1
while i<6:
  if i == 3:
    print(i)
    break
  i+=1

3

In [43]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Let's Try #1!

In [60]:
hello = ["Hello"]
number = ["0","1","2","3","4","5","6","7","8","9","10"]
for x in hello:
  for y in number:
   print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Let's Try #2!

In [75]:
x=9
while x >= 3:
  print(x)
  x-=1

9
8
7
6
5
4
3